<h1>Список пользователей</h1>

<mat-form-field>
  <mat-label>Фильтр по компании</mat-label>
  <mat-select placeholder="Фильтр по компании">
    <mat-option *ngFor="let company of companies" [value]="company" (click)="applyFilter(company)">
      {{ company }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="sort">
  <mat-label>Сортировка по полю</mat-label>
  <mat-select placeholder="Сортировка по полю" [(ngModel)]="sorting">
    <mat-option *ngFor="let sort of sortings" [value]="sort" (click)="applySort(sort)">
      {{ sort }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar" >
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let row">
        <a [routerLink]="['user', row.id]">
          <img [src]="row.avatar" alt="avatar">
        </a>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row">
        <a [routerLink]="['user', row.id]" mat-menu-item>
          {{ row.name }}
        </a>
      </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let row"> {{ row.username }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let row"> {{ row.address }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator pageSize="3" showFirstLastButtons></mat-paginator>
</div>

