html, body {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.basic-container {
  padding: 30px;
  height: calc(100vh - 60px);
}

@media (max-width: 350px) {
  .basic-container {
    padding: 30px 5px;
  }
}
